.advantages {
    background-color: $black;
    min-height: 341px;
    display: flex;

    &__wrap {
        min-height: 341px;
        @include flex-center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        max-width: 360px;
    }

    &__item-title {
        color: $white-text;
        @include font(20px, 24px);
        margin: 28px 0 0 0;
    }

    &__item-text {
        color: $white-text;
        @include font(14px, 17px, 300);
        margin: 16px 0 0 0;
    }

    @media (max-width: $tablet-width) {
        &__list {
            flex-direction: column;
            margin: 50px 0 0 0;
            padding: 0 0 14px;
        }

        &__item {
            padding: 0 0 50px 0;
        }
    }

    @media (max-width: $mobile-width) {
        &__list {
            padding: 0 0 30px 0;
        }
    }
}