.sales {
    margin-bottom: 96px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 360px;
        min-height: 260px;
        flex-direction: column;
        @include flex-center;
    }

    &__item:hover,
    &__item:focus {
        cursor: pointer;
    }

    &__item_woman {
        background-image: url('../../img/sales-woman.jpg');
    }

    &__item_man {
        background-image: url('../../img/sales-man.jpg');
    }

    &__item_kids {
        background-image: url('../../img/sales-kid.jpg');
    }

    &__item_accesories {
        background-image: url('../../img/sales-accesories.jpg');
        width: 100%;
        min-height: 180px;
        margin-top: 30px;
    }

    &__item-text {
        text-transform: uppercase;
        color: $white-text;
        @include font(16px, 19px);
    }

    &__item-title {
        text-transform: uppercase;
        color: $pink;
        @include font(24px, 29px, 700);
    }

    @media (max-width: $tablet-width) {
        & {
            margin-bottom: 150px;
        }

        &__item {
            width: 232px;
            min-height: 168px;
            background-size: 232px 168px;
        }

        &__item_accesories {
            width: 100%;
            min-height: 116px;
            background-size: 100% 116px;
        }
    }

    @media (max-width: $mobile-width) {
        & {
            margin-bottom: 64px;
        }

        &__item {
            width: 100%;
            min-height: 247px;
            background-size: 100% 247px;
            margin: 0 0 32px;
        }

        &__item_accesories {
            width: 100%;
            min-height: 111px;
            background-size: 100% 111px;
        }
    }
}